.alert {
    --alert-info-color: var(--pico-primary);
    --alert-success-color: #16a34a;
    --alert-warning-color: #d97706;
    --alert-error-color: #dc2626;
    --alert-info-bg: #eff6ff;
    --alert-success-bg: #f0fdf4;
    --alert-warning-bg: #fffbeb;
    --alert-error-bg: #fef2f2;

    padding: calc(var(--pico-spacing)) var(--pico-spacing);
    border-radius: var(--pico-border-radius);
    border-left: calc(var(--pico-border-width) * 3) solid;
    margin-block-end: var(--pico-spacing);
    display: flex;
    align-items: flex-start;
    gap: var(--pico-spacing);
}

.alert > .icon {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    background-color: currentColor;
}

.alert[data-alert="info"] > .icon {
    -webkit-mask-image: url("inline-svg:icons/info.svg");
    mask-image: url("inline-svg:icons/info.svg");
    color: var(--alert-info-color);
}

.alert[data-alert="success"] > .icon {
    -webkit-mask-image: url("inline-svg:icons/check.svg");
    mask-image: url("inline-svg:icons/check.svg");
    color: var(--alert-success-color);
}

.alert[data-alert="warning"] > .icon {
    -webkit-mask-image: url("inline-svg:icons/warning.svg");
    mask-image: url("inline-svg:icons/warning.svg");
    color: var(--alert-warning-color);
}

.alert[data-alert="error"] > .icon {
    -webkit-mask-image: url("inline-svg:icons/error.svg");
    mask-image: url("inline-svg:icons/error.svg");
    color: var(--alert-error-color);
}

.alert > .content {
    flex: 1;
}

.alert > .content > .header {
    margin: 0 0 calc(var(--pico-spacing));
}

.alert[data-alert="info"] {
    background: var(--alert-info-bg);
    border-color: var(--alert-info-color);
}

.alert[data-alert="info"] > .content > .header {
    color: var(--alert-info-color);
}

.alert[data-alert="success"] {
    background: var(--alert-success-bg);
    border-color: var(--alert-success-color);
}

.alert[data-alert="success"] > .content > .header {
    color: var(--alert-success-color);
}

.alert[data-alert="warning"] {
    background: var(--alert-warning-bg);
    border-color: var(--alert-warning-color);
}

.alert[data-alert="warning"] > .content > .header {
    color: var(--alert-warning-color);
}

.alert[data-alert="error"] {
    background: var(--alert-error-bg);
    border-color: var(--alert-error-color);
}

.alert[data-alert="error"] > .content > .header {
    color: var(--alert-error-color);
}

@media (prefers-color-scheme: dark) {
    .alert {
        --alert-info-bg: rgba(101, 92, 214, 0.1);
        --alert-success-bg: rgba(22, 163, 74, 0.1);
        --alert-warning-bg: rgba(217, 119, 6, 0.1);
        --alert-error-bg: rgba(220, 38, 38, 0.1);
    }
}
